<div class="panel-heading" role="tab">
    <h4 class="panel-title">
    <a role="button" data-toggle="collapse" data-parent="#schema-accordion"
       href="#{{cid}}" aria-expanded="true" aria-controls="collapseOne">
        {{name}} <em class="pull-right"><span class="glyphicon glyphicon-edit"></span></em>
    </a>
    </h4>
</div>
<div class="panel-collapse collapse schema-item" role="tabpanel" aria-labelledby="" id="{{cid}}">
</div>

