
<div class="panel-body" style="padding: 5px 10px;">
    <a role="button"  data-parent="#schema-accordion"
       name="{{name}}" aria-expanded="true" >
        {{name}}
        <em class="pull-right" data-action="data" style="padding: 0 5px;">
            <span class="glyphicon glyphicon-th"></span>
        </em>
        <em class="pull-right" data-action="edit" style="padding: 0 5px;">
            <span class="glyphicon glyphicon-edit"></span>
        </em>
    </a>
</div>

